
body {
    background-image: url(../img/background.jpg) !important;
    margin: 0, auto !important;
}

.footer {
    background-color: none;
    position: fixed;
    bottom: 10px;
    right: 20px;
    text-align: center;
}