
body {
    background-image: url(../img/background.jpg) !important;
    margin: 0, auto !important;
}

.h1,
    h1{
    font-size: 50px !important;
}

.h2,
    h2{
    font-size: 45px !important;
}

/*footer {
position: fixed;
    bottom: 10px;
    right: 500px;
    width: 200px;

    color: black;
    background-color: none;
    clear: left;
    text-align: center;
}*/